body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 20px;
  }
  
  .form-container {
    margin-bottom: 40px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px 12px;
    background: rgb(26, 255, 0);
    color: rgb(243, 234, 234);
    border: none;
    cursor: pointer;
  }
  
  .news-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    background: #f9f9f9;
  }
  
  .news-item button {
    background: red;
    padding: 5px;
  }
  